<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Dear <%= @user.name %></h1>
<p>

  Thank you for registering to the new teleshopping portal. Your registration has been received.
</p>
  You registered with this email as your username: <b><%= @user.email %></b>
<p>

  If you would like to view your registration details, you can login at the following link:<br><br>

  http://52.14.18.193/
  <br><br>

   Date Created: <i><%= @user.created_at %></i>


</p>
</body>
</html>